.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url("../img/android-android-phone-cell-phone-cellphone-404280.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: url("../img/close-up-photo-of-black-samsung-phone-1447254.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: url("../img/space-gray-iphone-8-on-brown-surface-1275227.jpg");
  background-size: cover;
}
